ShowUI/Web References/ISCB05_Service/B05_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="checkRickSoftware">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pc_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkRickSoftwareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkRickSoftwareResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkwannacry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkwannacryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkwannacryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_YR_RTRATE_SEARCH">
        <s:complexType />
      </s:element>
      <s:element name="B05_SI_YR_RTRATE_SEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B05_SI_YR_RTRATE_SEARCHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_SI_YR_RTRATE_CONTROL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_SI_YR_RTRATE_CONTROLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_SI_YR_RTRATE_CONTROLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_UNLOCK_RECORD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ate_ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ate_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iLine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iStation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iErrorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iUnlockEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iConfirmEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iLockTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_UNLOCK_RECORDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SHOWUI_UNLOCK_RECORDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_GETFAKE_YR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ate_ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ate_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iStation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="realYR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="realRTR" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FAKE_YR" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="FAKE_TRR" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_GETFAKE_YRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B05_SI_GETFAKE_YRResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FAKE_YR" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="FAKE_TRR" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_ARLO_CARD_SEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_ARLO_CARD_SEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B05_SI_ARLO_CARD_SEARCHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_ARLO_INSERT_CARD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_ARLO_INSERT_CARDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="B05_SI_ARLO_INSERT_CARDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_ARLO_UPDATE_CARD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iCardID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iAddTestedTimes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B05_SI_ARLO_UPDATE_CARDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="B05_SI_ARLO_UPDATE_CARDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ARLO_UPH_SOLVED">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iMo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iStation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iErrorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iEmpId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ARLO_UPH_SOLVEDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_ARLO_UPH_SOLVEDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ARLO_UPH_CONTROL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iMo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iR_DUT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iStation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iAte_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iAte_ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iYrate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ARLO_UPH_CONTROLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="P_B05_ARLO_UPH_CONTROLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_QA_LCR_SEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_QA_LCR_SEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_QA_LCR_SEARCHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_QA_LCR_DATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SHIFT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PN_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QTY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACTUALVAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SPEC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOC_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_QA_LCR_DATAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_QA_LCR_DATAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_TE_CHECK_USERS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_TE_CHECK_USERSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="P_B05_TE_CHECK_USERSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MEASURE_LUX_CONTROL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="box_serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMeasureValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strtypeValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="test_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTarget_TCP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSlotName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRunTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MEASURE_LUX_CONTROLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="P_B05_MEASURE_LUX_CONTROLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MEASURE_LUX_DT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MEASURE_LUX_DTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_MEASURE_LUX_DTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MEASURE_LUX_DTNEW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MEASURE_LUX_DTNEWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_MEASURE_LUX_DTNEWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ITEMNAME_CONFIG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="item_name" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="item_id" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="lsl" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="usl" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="P_B05_ITEMNAME_CONFIGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_ITEMNAME_CONFIGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_CHECK_GOLDEN_DATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ate_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="line_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_CHECK_GOLDEN_DATAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="P_B05_CHECK_GOLDEN_DATAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ERROR_TRACKING">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ate_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_ERROR_TRACKINGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_ERROR_TRACKINGResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_CALIBRATION_CONTROL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_CALIBRATION_CONTROLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="P_B05_CALIBRATION_CONTROLResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="reStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_MYDAS_SEARCH">
        <s:complexType />
      </s:element>
      <s:element name="P_B05_MYDAS_SEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_MYDAS_SEARCHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_SPECIAL_LOCK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_LOCK_KEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ATE_IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ATE_MAC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ATE_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_LOCK_STATUS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_LOCKEMP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_UNLOCKEMP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_LOCK_REASON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_SPECIAL_LOCKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SHOWUI_SPECIAL_LOCKResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_LOCK_VALIDATION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_LOCK_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_LOCK_VALIDATIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SHOWUI_LOCK_VALIDATIONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTO_NOTICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTO_NOTICEResponse">
        <s:complexType />
      </s:element>
      <s:element name="SHOWUI_BACKEND_INFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Line" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWUI_BACKEND_INFOResponse">
        <s:complexType />
      </s:element>
      <s:element name="P_B05_SMTTOP10ERRORCODE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P_B05_SMTTOP10ERRORCODEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_B05_SMTTOP10ERRORCODEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="checkRickSoftwareSoapIn">
    <wsdl:part name="parameters" element="tns:checkRickSoftware" />
  </wsdl:message>
  <wsdl:message name="checkRickSoftwareSoapOut">
    <wsdl:part name="parameters" element="tns:checkRickSoftwareResponse" />
  </wsdl:message>
  <wsdl:message name="checkwannacrySoapIn">
    <wsdl:part name="parameters" element="tns:checkwannacry" />
  </wsdl:message>
  <wsdl:message name="checkwannacrySoapOut">
    <wsdl:part name="parameters" element="tns:checkwannacryResponse" />
  </wsdl:message>
  <wsdl:message name="B05_SI_YR_RTRATE_SEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:B05_SI_YR_RTRATE_SEARCH" />
  </wsdl:message>
  <wsdl:message name="B05_SI_YR_RTRATE_SEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:B05_SI_YR_RTRATE_SEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_SI_YR_RTRATE_CONTROLSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_SI_YR_RTRATE_CONTROL" />
  </wsdl:message>
  <wsdl:message name="P_B05_SI_YR_RTRATE_CONTROLSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_SI_YR_RTRATE_CONTROLResponse" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_UNLOCK_RECORDSoapIn">
    <wsdl:part name="parameters" element="tns:SHOWUI_UNLOCK_RECORD" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_UNLOCK_RECORDSoapOut">
    <wsdl:part name="parameters" element="tns:SHOWUI_UNLOCK_RECORDResponse" />
  </wsdl:message>
  <wsdl:message name="B05_SI_GETFAKE_YRSoapIn">
    <wsdl:part name="parameters" element="tns:B05_SI_GETFAKE_YR" />
  </wsdl:message>
  <wsdl:message name="B05_SI_GETFAKE_YRSoapOut">
    <wsdl:part name="parameters" element="tns:B05_SI_GETFAKE_YRResponse" />
  </wsdl:message>
  <wsdl:message name="B05_SI_ARLO_CARD_SEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:B05_SI_ARLO_CARD_SEARCH" />
  </wsdl:message>
  <wsdl:message name="B05_SI_ARLO_CARD_SEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:B05_SI_ARLO_CARD_SEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="B05_SI_ARLO_INSERT_CARDSoapIn">
    <wsdl:part name="parameters" element="tns:B05_SI_ARLO_INSERT_CARD" />
  </wsdl:message>
  <wsdl:message name="B05_SI_ARLO_INSERT_CARDSoapOut">
    <wsdl:part name="parameters" element="tns:B05_SI_ARLO_INSERT_CARDResponse" />
  </wsdl:message>
  <wsdl:message name="B05_SI_ARLO_UPDATE_CARDSoapIn">
    <wsdl:part name="parameters" element="tns:B05_SI_ARLO_UPDATE_CARD" />
  </wsdl:message>
  <wsdl:message name="B05_SI_ARLO_UPDATE_CARDSoapOut">
    <wsdl:part name="parameters" element="tns:B05_SI_ARLO_UPDATE_CARDResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_ARLO_UPH_SOLVEDSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_ARLO_UPH_SOLVED" />
  </wsdl:message>
  <wsdl:message name="P_B05_ARLO_UPH_SOLVEDSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_ARLO_UPH_SOLVEDResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_ARLO_UPH_CONTROLSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_ARLO_UPH_CONTROL" />
  </wsdl:message>
  <wsdl:message name="P_B05_ARLO_UPH_CONTROLSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_ARLO_UPH_CONTROLResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_QA_LCR_SEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_QA_LCR_SEARCH" />
  </wsdl:message>
  <wsdl:message name="P_B05_QA_LCR_SEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_QA_LCR_SEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_QA_LCR_DATASoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_QA_LCR_DATA" />
  </wsdl:message>
  <wsdl:message name="P_B05_QA_LCR_DATASoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_QA_LCR_DATAResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_TE_CHECK_USERSSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_TE_CHECK_USERS" />
  </wsdl:message>
  <wsdl:message name="P_B05_TE_CHECK_USERSSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_TE_CHECK_USERSResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_MEASURE_LUX_CONTROLSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_MEASURE_LUX_CONTROL" />
  </wsdl:message>
  <wsdl:message name="P_B05_MEASURE_LUX_CONTROLSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_MEASURE_LUX_CONTROLResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_MEASURE_LUX_DTSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_MEASURE_LUX_DT" />
  </wsdl:message>
  <wsdl:message name="P_B05_MEASURE_LUX_DTSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_MEASURE_LUX_DTResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_MEASURE_LUX_DTNEWSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_MEASURE_LUX_DTNEW" />
  </wsdl:message>
  <wsdl:message name="P_B05_MEASURE_LUX_DTNEWSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_MEASURE_LUX_DTNEWResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_ITEMNAME_CONFIGSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_ITEMNAME_CONFIG" />
  </wsdl:message>
  <wsdl:message name="P_B05_ITEMNAME_CONFIGSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_ITEMNAME_CONFIGResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_CHECK_GOLDEN_DATASoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_CHECK_GOLDEN_DATA" />
  </wsdl:message>
  <wsdl:message name="P_B05_CHECK_GOLDEN_DATASoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_CHECK_GOLDEN_DATAResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_ERROR_TRACKINGSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_ERROR_TRACKING" />
  </wsdl:message>
  <wsdl:message name="P_B05_ERROR_TRACKINGSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_ERROR_TRACKINGResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_CALIBRATION_CONTROLSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_CALIBRATION_CONTROL" />
  </wsdl:message>
  <wsdl:message name="P_B05_CALIBRATION_CONTROLSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_CALIBRATION_CONTROLResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_MYDAS_SEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_MYDAS_SEARCH" />
  </wsdl:message>
  <wsdl:message name="P_B05_MYDAS_SEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_MYDAS_SEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_SPECIAL_LOCKSoapIn">
    <wsdl:part name="parameters" element="tns:SHOWUI_SPECIAL_LOCK" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_SPECIAL_LOCKSoapOut">
    <wsdl:part name="parameters" element="tns:SHOWUI_SPECIAL_LOCKResponse" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_LOCK_VALIDATIONSoapIn">
    <wsdl:part name="parameters" element="tns:SHOWUI_LOCK_VALIDATION" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_LOCK_VALIDATIONSoapOut">
    <wsdl:part name="parameters" element="tns:SHOWUI_LOCK_VALIDATIONResponse" />
  </wsdl:message>
  <wsdl:message name="AUTO_NOTICESoapIn">
    <wsdl:part name="parameters" element="tns:AUTO_NOTICE" />
  </wsdl:message>
  <wsdl:message name="AUTO_NOTICESoapOut">
    <wsdl:part name="parameters" element="tns:AUTO_NOTICEResponse" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_BACKEND_INFOSoapIn">
    <wsdl:part name="parameters" element="tns:SHOWUI_BACKEND_INFO" />
  </wsdl:message>
  <wsdl:message name="SHOWUI_BACKEND_INFOSoapOut">
    <wsdl:part name="parameters" element="tns:SHOWUI_BACKEND_INFOResponse" />
  </wsdl:message>
  <wsdl:message name="P_B05_SMTTOP10ERRORCODESoapIn">
    <wsdl:part name="parameters" element="tns:P_B05_SMTTOP10ERRORCODE" />
  </wsdl:message>
  <wsdl:message name="P_B05_SMTTOP10ERRORCODESoapOut">
    <wsdl:part name="parameters" element="tns:P_B05_SMTTOP10ERRORCODEResponse" />
  </wsdl:message>
  <wsdl:portType name="B05_ServiceSoap">
    <wsdl:operation name="checkRickSoftware">
      <wsdl:input message="tns:checkRickSoftwareSoapIn" />
      <wsdl:output message="tns:checkRickSoftwareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkwannacry">
      <wsdl:input message="tns:checkwannacrySoapIn" />
      <wsdl:output message="tns:checkwannacrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B05_SI_YR_RTRATE_SEARCH">
      <wsdl:input message="tns:B05_SI_YR_RTRATE_SEARCHSoapIn" />
      <wsdl:output message="tns:B05_SI_YR_RTRATE_SEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_SI_YR_RTRATE_CONTROL">
      <wsdl:input message="tns:P_B05_SI_YR_RTRATE_CONTROLSoapIn" />
      <wsdl:output message="tns:P_B05_SI_YR_RTRATE_CONTROLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_UNLOCK_RECORD">
      <wsdl:input message="tns:SHOWUI_UNLOCK_RECORDSoapIn" />
      <wsdl:output message="tns:SHOWUI_UNLOCK_RECORDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B05_SI_GETFAKE_YR">
      <wsdl:input message="tns:B05_SI_GETFAKE_YRSoapIn" />
      <wsdl:output message="tns:B05_SI_GETFAKE_YRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_CARD_SEARCH">
      <wsdl:input message="tns:B05_SI_ARLO_CARD_SEARCHSoapIn" />
      <wsdl:output message="tns:B05_SI_ARLO_CARD_SEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_INSERT_CARD">
      <wsdl:input message="tns:B05_SI_ARLO_INSERT_CARDSoapIn" />
      <wsdl:output message="tns:B05_SI_ARLO_INSERT_CARDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_UPDATE_CARD">
      <wsdl:input message="tns:B05_SI_ARLO_UPDATE_CARDSoapIn" />
      <wsdl:output message="tns:B05_SI_ARLO_UPDATE_CARDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_ARLO_UPH_SOLVED">
      <wsdl:input message="tns:P_B05_ARLO_UPH_SOLVEDSoapIn" />
      <wsdl:output message="tns:P_B05_ARLO_UPH_SOLVEDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_ARLO_UPH_CONTROL">
      <wsdl:input message="tns:P_B05_ARLO_UPH_CONTROLSoapIn" />
      <wsdl:output message="tns:P_B05_ARLO_UPH_CONTROLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_QA_LCR_SEARCH">
      <wsdl:input message="tns:P_B05_QA_LCR_SEARCHSoapIn" />
      <wsdl:output message="tns:P_B05_QA_LCR_SEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_QA_LCR_DATA">
      <wsdl:input message="tns:P_B05_QA_LCR_DATASoapIn" />
      <wsdl:output message="tns:P_B05_QA_LCR_DATASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_TE_CHECK_USERS">
      <wsdl:input message="tns:P_B05_TE_CHECK_USERSSoapIn" />
      <wsdl:output message="tns:P_B05_TE_CHECK_USERSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_CONTROL">
      <wsdl:input message="tns:P_B05_MEASURE_LUX_CONTROLSoapIn" />
      <wsdl:output message="tns:P_B05_MEASURE_LUX_CONTROLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_DT">
      <wsdl:input message="tns:P_B05_MEASURE_LUX_DTSoapIn" />
      <wsdl:output message="tns:P_B05_MEASURE_LUX_DTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_DTNEW">
      <wsdl:input message="tns:P_B05_MEASURE_LUX_DTNEWSoapIn" />
      <wsdl:output message="tns:P_B05_MEASURE_LUX_DTNEWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_ITEMNAME_CONFIG">
      <wsdl:input message="tns:P_B05_ITEMNAME_CONFIGSoapIn" />
      <wsdl:output message="tns:P_B05_ITEMNAME_CONFIGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_CHECK_GOLDEN_DATA">
      <wsdl:input message="tns:P_B05_CHECK_GOLDEN_DATASoapIn" />
      <wsdl:output message="tns:P_B05_CHECK_GOLDEN_DATASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_ERROR_TRACKING">
      <wsdl:input message="tns:P_B05_ERROR_TRACKINGSoapIn" />
      <wsdl:output message="tns:P_B05_ERROR_TRACKINGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_CALIBRATION_CONTROL">
      <wsdl:input message="tns:P_B05_CALIBRATION_CONTROLSoapIn" />
      <wsdl:output message="tns:P_B05_CALIBRATION_CONTROLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_MYDAS_SEARCH">
      <wsdl:input message="tns:P_B05_MYDAS_SEARCHSoapIn" />
      <wsdl:output message="tns:P_B05_MYDAS_SEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_SPECIAL_LOCK">
      <wsdl:input message="tns:SHOWUI_SPECIAL_LOCKSoapIn" />
      <wsdl:output message="tns:SHOWUI_SPECIAL_LOCKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_LOCK_VALIDATION">
      <wsdl:input message="tns:SHOWUI_LOCK_VALIDATIONSoapIn" />
      <wsdl:output message="tns:SHOWUI_LOCK_VALIDATIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AUTO_NOTICE">
      <wsdl:input message="tns:AUTO_NOTICESoapIn" />
      <wsdl:output message="tns:AUTO_NOTICESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_BACKEND_INFO">
      <wsdl:input message="tns:SHOWUI_BACKEND_INFOSoapIn" />
      <wsdl:output message="tns:SHOWUI_BACKEND_INFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P_B05_SMTTOP10ERRORCODE">
      <wsdl:input message="tns:P_B05_SMTTOP10ERRORCODESoapIn" />
      <wsdl:output message="tns:P_B05_SMTTOP10ERRORCODESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="B05_ServiceSoap" type="tns:B05_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkRickSoftware">
      <soap:operation soapAction="http://tempuri.org/checkRickSoftware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkwannacry">
      <soap:operation soapAction="http://tempuri.org/checkwannacry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_YR_RTRATE_SEARCH">
      <soap:operation soapAction="http://tempuri.org/B05_SI_YR_RTRATE_SEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_SI_YR_RTRATE_CONTROL">
      <soap:operation soapAction="http://tempuri.org/P_B05_SI_YR_RTRATE_CONTROL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_UNLOCK_RECORD">
      <soap:operation soapAction="http://tempuri.org/SHOWUI_UNLOCK_RECORD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_GETFAKE_YR">
      <soap:operation soapAction="http://tempuri.org/B05_SI_GETFAKE_YR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_CARD_SEARCH">
      <soap:operation soapAction="http://tempuri.org/B05_SI_ARLO_CARD_SEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_INSERT_CARD">
      <soap:operation soapAction="http://tempuri.org/B05_SI_ARLO_INSERT_CARD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_UPDATE_CARD">
      <soap:operation soapAction="http://tempuri.org/B05_SI_ARLO_UPDATE_CARD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ARLO_UPH_SOLVED">
      <soap:operation soapAction="http://tempuri.org/P_B05_ARLO_UPH_SOLVED" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ARLO_UPH_CONTROL">
      <soap:operation soapAction="http://tempuri.org/P_B05_ARLO_UPH_CONTROL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_QA_LCR_SEARCH">
      <soap:operation soapAction="http://tempuri.org/P_B05_QA_LCR_SEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_QA_LCR_DATA">
      <soap:operation soapAction="http://tempuri.org/P_B05_QA_LCR_DATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_TE_CHECK_USERS">
      <soap:operation soapAction="http://tempuri.org/P_B05_TE_CHECK_USERS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_CONTROL">
      <soap:operation soapAction="http://tempuri.org/P_B05_MEASURE_LUX_CONTROL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_DT">
      <soap:operation soapAction="http://tempuri.org/P_B05_MEASURE_LUX_DT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_DTNEW">
      <soap:operation soapAction="http://tempuri.org/P_B05_MEASURE_LUX_DTNEW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ITEMNAME_CONFIG">
      <soap:operation soapAction="http://tempuri.org/P_B05_ITEMNAME_CONFIG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_CHECK_GOLDEN_DATA">
      <soap:operation soapAction="http://tempuri.org/P_B05_CHECK_GOLDEN_DATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ERROR_TRACKING">
      <soap:operation soapAction="http://tempuri.org/P_B05_ERROR_TRACKING" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_CALIBRATION_CONTROL">
      <soap:operation soapAction="http://tempuri.org/P_B05_CALIBRATION_CONTROL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MYDAS_SEARCH">
      <soap:operation soapAction="http://tempuri.org/P_B05_MYDAS_SEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_SPECIAL_LOCK">
      <soap:operation soapAction="http://tempuri.org/SHOWUI_SPECIAL_LOCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_LOCK_VALIDATION">
      <soap:operation soapAction="http://tempuri.org/SHOWUI_LOCK_VALIDATION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTO_NOTICE">
      <soap:operation soapAction="http://tempuri.org/AUTO_NOTICE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_BACKEND_INFO">
      <soap:operation soapAction="http://tempuri.org/SHOWUI_BACKEND_INFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_SMTTOP10ERRORCODE">
      <soap:operation soapAction="http://tempuri.org/P_B05_SMTTOP10ERRORCODE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="B05_ServiceSoap12" type="tns:B05_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkRickSoftware">
      <soap12:operation soapAction="http://tempuri.org/checkRickSoftware" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkwannacry">
      <soap12:operation soapAction="http://tempuri.org/checkwannacry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_YR_RTRATE_SEARCH">
      <soap12:operation soapAction="http://tempuri.org/B05_SI_YR_RTRATE_SEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_SI_YR_RTRATE_CONTROL">
      <soap12:operation soapAction="http://tempuri.org/P_B05_SI_YR_RTRATE_CONTROL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_UNLOCK_RECORD">
      <soap12:operation soapAction="http://tempuri.org/SHOWUI_UNLOCK_RECORD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_GETFAKE_YR">
      <soap12:operation soapAction="http://tempuri.org/B05_SI_GETFAKE_YR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_CARD_SEARCH">
      <soap12:operation soapAction="http://tempuri.org/B05_SI_ARLO_CARD_SEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_INSERT_CARD">
      <soap12:operation soapAction="http://tempuri.org/B05_SI_ARLO_INSERT_CARD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B05_SI_ARLO_UPDATE_CARD">
      <soap12:operation soapAction="http://tempuri.org/B05_SI_ARLO_UPDATE_CARD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ARLO_UPH_SOLVED">
      <soap12:operation soapAction="http://tempuri.org/P_B05_ARLO_UPH_SOLVED" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ARLO_UPH_CONTROL">
      <soap12:operation soapAction="http://tempuri.org/P_B05_ARLO_UPH_CONTROL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_QA_LCR_SEARCH">
      <soap12:operation soapAction="http://tempuri.org/P_B05_QA_LCR_SEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_QA_LCR_DATA">
      <soap12:operation soapAction="http://tempuri.org/P_B05_QA_LCR_DATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_TE_CHECK_USERS">
      <soap12:operation soapAction="http://tempuri.org/P_B05_TE_CHECK_USERS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_CONTROL">
      <soap12:operation soapAction="http://tempuri.org/P_B05_MEASURE_LUX_CONTROL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_DT">
      <soap12:operation soapAction="http://tempuri.org/P_B05_MEASURE_LUX_DT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MEASURE_LUX_DTNEW">
      <soap12:operation soapAction="http://tempuri.org/P_B05_MEASURE_LUX_DTNEW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ITEMNAME_CONFIG">
      <soap12:operation soapAction="http://tempuri.org/P_B05_ITEMNAME_CONFIG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_CHECK_GOLDEN_DATA">
      <soap12:operation soapAction="http://tempuri.org/P_B05_CHECK_GOLDEN_DATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_ERROR_TRACKING">
      <soap12:operation soapAction="http://tempuri.org/P_B05_ERROR_TRACKING" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_CALIBRATION_CONTROL">
      <soap12:operation soapAction="http://tempuri.org/P_B05_CALIBRATION_CONTROL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_MYDAS_SEARCH">
      <soap12:operation soapAction="http://tempuri.org/P_B05_MYDAS_SEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_SPECIAL_LOCK">
      <soap12:operation soapAction="http://tempuri.org/SHOWUI_SPECIAL_LOCK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_LOCK_VALIDATION">
      <soap12:operation soapAction="http://tempuri.org/SHOWUI_LOCK_VALIDATION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTO_NOTICE">
      <soap12:operation soapAction="http://tempuri.org/AUTO_NOTICE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWUI_BACKEND_INFO">
      <soap12:operation soapAction="http://tempuri.org/SHOWUI_BACKEND_INFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_B05_SMTTOP10ERRORCODE">
      <soap12:operation soapAction="http://tempuri.org/P_B05_SMTTOP10ERRORCODE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="B05_Service">
    <wsdl:port name="B05_ServiceSoap" binding="tns:B05_ServiceSoap">
      <soap:address location="http://10.224.81.99/ServiceCenter/Services/B05_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="B05_ServiceSoap12" binding="tns:B05_ServiceSoap12">
      <soap12:address location="http://10.224.81.99/ServiceCenter/Services/B05_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>