ShowUI/Web References/ATE_CHECKLIST/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertChecklistATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Linename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shift" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProgramandVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckSum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FixtureNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateVirust" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Datetime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertChecklistATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertChecklistATEResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateATEWirelessFromTPG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modelname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Checksum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateOnline" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateATEWirelessFromTPGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateATEWirelessFromTPGResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectorsUseTimes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MainInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="CableName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="CableUseTimes" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="CableSpec" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="ResetCableUsingTimes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeChange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonChange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConnectorsUseTimesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectorsUseTimesResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectorsUseTimes_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MainInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="CableName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="CableUseTimes" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="CableSpec" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="ResetCableUsingTimes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeChange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonChange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cable_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectorsUseTimes_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectorsUseTimes_NewResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixtureControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="product_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fixtureSN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixtureControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FixtureControlResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_trusted_url">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="view_url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_trusted_urlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_trusted_urlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_trusted_ticket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wgserver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remote_addr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_trusted_ticketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_trusted_ticketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="view_path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generateTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchSNResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_E_Group">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listDeviceID" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="group_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listDeviceType" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="line" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_E_GroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insert_E_GroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListGroupID">
        <s:complexType />
      </s:element>
      <s:element name="GetListGroupIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListGroupIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListTypeDevices">
        <s:complexType />
      </s:element>
      <s:element name="GetListTypeDevicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListTypeDevicesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIsCheckedATEChecklist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Linename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shift" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Datetime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckSum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIsCheckedATEChecklistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckIsCheckedATEChecklistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTPGVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckSum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTPGVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckTPGVersionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertChecklistATESoapIn">
    <wsdl:part name="parameters" element="tns:InsertChecklistATE" />
  </wsdl:message>
  <wsdl:message name="InsertChecklistATESoapOut">
    <wsdl:part name="parameters" element="tns:InsertChecklistATEResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateATEWirelessFromTPGSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateATEWirelessFromTPG" />
  </wsdl:message>
  <wsdl:message name="UpdateATEWirelessFromTPGSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateATEWirelessFromTPGResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectorsUseTimesSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectorsUseTimes" />
  </wsdl:message>
  <wsdl:message name="ConnectorsUseTimesSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectorsUseTimesResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectorsUseTimes_NewSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectorsUseTimes_New" />
  </wsdl:message>
  <wsdl:message name="ConnectorsUseTimes_NewSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectorsUseTimes_NewResponse" />
  </wsdl:message>
  <wsdl:message name="FixtureControlSoapIn">
    <wsdl:part name="parameters" element="tns:FixtureControl" />
  </wsdl:message>
  <wsdl:message name="FixtureControlSoapOut">
    <wsdl:part name="parameters" element="tns:FixtureControlResponse" />
  </wsdl:message>
  <wsdl:message name="get_trusted_urlSoapIn">
    <wsdl:part name="parameters" element="tns:get_trusted_url" />
  </wsdl:message>
  <wsdl:message name="get_trusted_urlSoapOut">
    <wsdl:part name="parameters" element="tns:get_trusted_urlResponse" />
  </wsdl:message>
  <wsdl:message name="get_trusted_ticketSoapIn">
    <wsdl:part name="parameters" element="tns:get_trusted_ticket" />
  </wsdl:message>
  <wsdl:message name="get_trusted_ticketSoapOut">
    <wsdl:part name="parameters" element="tns:get_trusted_ticketResponse" />
  </wsdl:message>
  <wsdl:message name="generateTicketSoapIn">
    <wsdl:part name="parameters" element="tns:generateTicket" />
  </wsdl:message>
  <wsdl:message name="generateTicketSoapOut">
    <wsdl:part name="parameters" element="tns:generateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSNSoapIn">
    <wsdl:part name="parameters" element="tns:SearchSN" />
  </wsdl:message>
  <wsdl:message name="SearchSNSoapOut">
    <wsdl:part name="parameters" element="tns:SearchSNResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_E_GroupSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_E_Group" />
  </wsdl:message>
  <wsdl:message name="Insert_E_GroupSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_E_GroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetListGroupIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetListGroupID" />
  </wsdl:message>
  <wsdl:message name="GetListGroupIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetListGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetListTypeDevicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetListTypeDevices" />
  </wsdl:message>
  <wsdl:message name="GetListTypeDevicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetListTypeDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="CheckIsCheckedATEChecklistSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIsCheckedATEChecklist" />
  </wsdl:message>
  <wsdl:message name="CheckIsCheckedATEChecklistSoapOut">
    <wsdl:part name="parameters" element="tns:CheckIsCheckedATEChecklistResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTPGVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTPGVersion" />
  </wsdl:message>
  <wsdl:message name="CheckTPGVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTPGVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="InsertChecklistATE">
      <wsdl:input message="tns:InsertChecklistATESoapIn" />
      <wsdl:output message="tns:InsertChecklistATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateATEWirelessFromTPG">
      <wsdl:input message="tns:UpdateATEWirelessFromTPGSoapIn" />
      <wsdl:output message="tns:UpdateATEWirelessFromTPGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectorsUseTimes">
      <wsdl:input message="tns:ConnectorsUseTimesSoapIn" />
      <wsdl:output message="tns:ConnectorsUseTimesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectorsUseTimes_New">
      <wsdl:input message="tns:ConnectorsUseTimes_NewSoapIn" />
      <wsdl:output message="tns:ConnectorsUseTimes_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FixtureControl">
      <wsdl:input message="tns:FixtureControlSoapIn" />
      <wsdl:output message="tns:FixtureControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_trusted_url">
      <wsdl:input message="tns:get_trusted_urlSoapIn" />
      <wsdl:output message="tns:get_trusted_urlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_trusted_ticket">
      <wsdl:input message="tns:get_trusted_ticketSoapIn" />
      <wsdl:output message="tns:get_trusted_ticketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generateTicket">
      <wsdl:input message="tns:generateTicketSoapIn" />
      <wsdl:output message="tns:generateTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSN">
      <wsdl:input message="tns:SearchSNSoapIn" />
      <wsdl:output message="tns:SearchSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_E_Group">
      <wsdl:input message="tns:Insert_E_GroupSoapIn" />
      <wsdl:output message="tns:Insert_E_GroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListGroupID">
      <wsdl:input message="tns:GetListGroupIDSoapIn" />
      <wsdl:output message="tns:GetListGroupIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListTypeDevices">
      <wsdl:input message="tns:GetListTypeDevicesSoapIn" />
      <wsdl:output message="tns:GetListTypeDevicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckIsCheckedATEChecklist">
      <wsdl:input message="tns:CheckIsCheckedATEChecklistSoapIn" />
      <wsdl:output message="tns:CheckIsCheckedATEChecklistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTPGVersion">
      <wsdl:input message="tns:CheckTPGVersionSoapIn" />
      <wsdl:output message="tns:CheckTPGVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertChecklistATE">
      <soap:operation soapAction="http://tempuri.org/InsertChecklistATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateATEWirelessFromTPG">
      <soap:operation soapAction="http://tempuri.org/UpdateATEWirelessFromTPG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectorsUseTimes">
      <soap:operation soapAction="http://tempuri.org/ConnectorsUseTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectorsUseTimes_New">
      <soap:operation soapAction="http://tempuri.org/ConnectorsUseTimes_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixtureControl">
      <soap:operation soapAction="http://tempuri.org/FixtureControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_trusted_url">
      <soap:operation soapAction="http://tempuri.org/get_trusted_url" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_trusted_ticket">
      <soap:operation soapAction="http://tempuri.org/get_trusted_ticket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateTicket">
      <soap:operation soapAction="http://tempuri.org/generateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSN">
      <soap:operation soapAction="http://tempuri.org/SearchSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_E_Group">
      <soap:operation soapAction="http://tempuri.org/Insert_E_Group" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGroupID">
      <soap:operation soapAction="http://tempuri.org/GetListGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListTypeDevices">
      <soap:operation soapAction="http://tempuri.org/GetListTypeDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIsCheckedATEChecklist">
      <soap:operation soapAction="http://tempuri.org/CheckIsCheckedATEChecklist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTPGVersion">
      <soap:operation soapAction="http://tempuri.org/CheckTPGVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertChecklistATE">
      <soap12:operation soapAction="http://tempuri.org/InsertChecklistATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateATEWirelessFromTPG">
      <soap12:operation soapAction="http://tempuri.org/UpdateATEWirelessFromTPG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectorsUseTimes">
      <soap12:operation soapAction="http://tempuri.org/ConnectorsUseTimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectorsUseTimes_New">
      <soap12:operation soapAction="http://tempuri.org/ConnectorsUseTimes_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixtureControl">
      <soap12:operation soapAction="http://tempuri.org/FixtureControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_trusted_url">
      <soap12:operation soapAction="http://tempuri.org/get_trusted_url" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_trusted_ticket">
      <soap12:operation soapAction="http://tempuri.org/get_trusted_ticket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateTicket">
      <soap12:operation soapAction="http://tempuri.org/generateTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSN">
      <soap12:operation soapAction="http://tempuri.org/SearchSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_E_Group">
      <soap12:operation soapAction="http://tempuri.org/Insert_E_Group" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGroupID">
      <soap12:operation soapAction="http://tempuri.org/GetListGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListTypeDevices">
      <soap12:operation soapAction="http://tempuri.org/GetListTypeDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIsCheckedATEChecklist">
      <soap12:operation soapAction="http://tempuri.org/CheckIsCheckedATEChecklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTPGVersion">
      <soap12:operation soapAction="http://tempuri.org/CheckTPGVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://10.224.81.75/PCKPI/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://10.224.81.75/PCKPI/Service/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>