WannaService/Web References/WebReference/Servicepostdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GET_RISK_SOFTWARE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_RISK_SOFTWAREResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_RISK_SOFTWAREResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_UNJOIN_DOMAIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_UNJOIN_DOMAINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_UNJOIN_DOMAINResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_NOUPDATE_WANNACRY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_NOUPDATE_WANNACRYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_NOUPDATE_WANNACRYResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_OPEN_445">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_OPEN_445Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_OPEN_445Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_ACCOUNT_ADMIM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_ACCOUNT_ADMIMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_ACCOUNT_ADMIMResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_OPEN_USB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_OPEN_USBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_OPEN_USBResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_ANTIVIRUS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_ANTIVIRUSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_ANTIVIRUSResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_CONNECTED_INTERNET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_CONNECTED_INTERNETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_CONNECTED_INTERNETResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_OPEN_CDROM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_OPEN_CDROMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_OPEN_CDROMResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GET_RISK_SOFTWARESoapIn">
    <wsdl:part name="parameters" element="tns:GET_RISK_SOFTWARE" />
  </wsdl:message>
  <wsdl:message name="GET_RISK_SOFTWARESoapOut">
    <wsdl:part name="parameters" element="tns:GET_RISK_SOFTWAREResponse" />
  </wsdl:message>
  <wsdl:message name="GET_UNJOIN_DOMAINSoapIn">
    <wsdl:part name="parameters" element="tns:GET_UNJOIN_DOMAIN" />
  </wsdl:message>
  <wsdl:message name="GET_UNJOIN_DOMAINSoapOut">
    <wsdl:part name="parameters" element="tns:GET_UNJOIN_DOMAINResponse" />
  </wsdl:message>
  <wsdl:message name="GET_NOUPDATE_WANNACRYSoapIn">
    <wsdl:part name="parameters" element="tns:GET_NOUPDATE_WANNACRY" />
  </wsdl:message>
  <wsdl:message name="GET_NOUPDATE_WANNACRYSoapOut">
    <wsdl:part name="parameters" element="tns:GET_NOUPDATE_WANNACRYResponse" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_445SoapIn">
    <wsdl:part name="parameters" element="tns:GET_OPEN_445" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_445SoapOut">
    <wsdl:part name="parameters" element="tns:GET_OPEN_445Response" />
  </wsdl:message>
  <wsdl:message name="GET_ACCOUNT_ADMIMSoapIn">
    <wsdl:part name="parameters" element="tns:GET_ACCOUNT_ADMIM" />
  </wsdl:message>
  <wsdl:message name="GET_ACCOUNT_ADMIMSoapOut">
    <wsdl:part name="parameters" element="tns:GET_ACCOUNT_ADMIMResponse" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_USBSoapIn">
    <wsdl:part name="parameters" element="tns:GET_OPEN_USB" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_USBSoapOut">
    <wsdl:part name="parameters" element="tns:GET_OPEN_USBResponse" />
  </wsdl:message>
  <wsdl:message name="GET_ANTIVIRUSSoapIn">
    <wsdl:part name="parameters" element="tns:GET_ANTIVIRUS" />
  </wsdl:message>
  <wsdl:message name="GET_ANTIVIRUSSoapOut">
    <wsdl:part name="parameters" element="tns:GET_ANTIVIRUSResponse" />
  </wsdl:message>
  <wsdl:message name="GET_CONNECTED_INTERNETSoapIn">
    <wsdl:part name="parameters" element="tns:GET_CONNECTED_INTERNET" />
  </wsdl:message>
  <wsdl:message name="GET_CONNECTED_INTERNETSoapOut">
    <wsdl:part name="parameters" element="tns:GET_CONNECTED_INTERNETResponse" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_CDROMSoapIn">
    <wsdl:part name="parameters" element="tns:GET_OPEN_CDROM" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_CDROMSoapOut">
    <wsdl:part name="parameters" element="tns:GET_OPEN_CDROMResponse" />
  </wsdl:message>
  <wsdl:message name="GET_RISK_SOFTWAREHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_RISK_SOFTWAREHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_UNJOIN_DOMAINHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_UNJOIN_DOMAINHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_NOUPDATE_WANNACRYHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_NOUPDATE_WANNACRYHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_445HttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_445HttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_ACCOUNT_ADMIMHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_ACCOUNT_ADMIMHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_USBHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_USBHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_ANTIVIRUSHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_ANTIVIRUSHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_CONNECTED_INTERNETHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_CONNECTED_INTERNETHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_CDROMHttpGetIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_CDROMHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_RISK_SOFTWAREHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_RISK_SOFTWAREHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_UNJOIN_DOMAINHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_UNJOIN_DOMAINHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_NOUPDATE_WANNACRYHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_NOUPDATE_WANNACRYHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_445HttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_445HttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_ACCOUNT_ADMIMHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_ACCOUNT_ADMIMHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_USBHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_USBHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_ANTIVIRUSHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_ANTIVIRUSHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_CONNECTED_INTERNETHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_CONNECTED_INTERNETHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_CDROMHttpPostIn">
    <wsdl:part name="Account" type="s:string" />
    <wsdl:part name="IPRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_OPEN_CDROMHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="ServicepostdataSoap">
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <wsdl:input message="tns:GET_RISK_SOFTWARESoapIn" />
      <wsdl:output message="tns:GET_RISK_SOFTWARESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <wsdl:input message="tns:GET_UNJOIN_DOMAINSoapIn" />
      <wsdl:output message="tns:GET_UNJOIN_DOMAINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <wsdl:input message="tns:GET_NOUPDATE_WANNACRYSoapIn" />
      <wsdl:output message="tns:GET_NOUPDATE_WANNACRYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <wsdl:input message="tns:GET_OPEN_445SoapIn" />
      <wsdl:output message="tns:GET_OPEN_445SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <wsdl:input message="tns:GET_ACCOUNT_ADMIMSoapIn" />
      <wsdl:output message="tns:GET_ACCOUNT_ADMIMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <wsdl:input message="tns:GET_OPEN_USBSoapIn" />
      <wsdl:output message="tns:GET_OPEN_USBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <wsdl:input message="tns:GET_ANTIVIRUSSoapIn" />
      <wsdl:output message="tns:GET_ANTIVIRUSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <wsdl:input message="tns:GET_CONNECTED_INTERNETSoapIn" />
      <wsdl:output message="tns:GET_CONNECTED_INTERNETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <wsdl:input message="tns:GET_OPEN_CDROMSoapIn" />
      <wsdl:output message="tns:GET_OPEN_CDROMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicepostdataHttpGet">
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <wsdl:input message="tns:GET_RISK_SOFTWAREHttpGetIn" />
      <wsdl:output message="tns:GET_RISK_SOFTWAREHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <wsdl:input message="tns:GET_UNJOIN_DOMAINHttpGetIn" />
      <wsdl:output message="tns:GET_UNJOIN_DOMAINHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <wsdl:input message="tns:GET_NOUPDATE_WANNACRYHttpGetIn" />
      <wsdl:output message="tns:GET_NOUPDATE_WANNACRYHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <wsdl:input message="tns:GET_OPEN_445HttpGetIn" />
      <wsdl:output message="tns:GET_OPEN_445HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <wsdl:input message="tns:GET_ACCOUNT_ADMIMHttpGetIn" />
      <wsdl:output message="tns:GET_ACCOUNT_ADMIMHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <wsdl:input message="tns:GET_OPEN_USBHttpGetIn" />
      <wsdl:output message="tns:GET_OPEN_USBHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <wsdl:input message="tns:GET_ANTIVIRUSHttpGetIn" />
      <wsdl:output message="tns:GET_ANTIVIRUSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <wsdl:input message="tns:GET_CONNECTED_INTERNETHttpGetIn" />
      <wsdl:output message="tns:GET_CONNECTED_INTERNETHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <wsdl:input message="tns:GET_OPEN_CDROMHttpGetIn" />
      <wsdl:output message="tns:GET_OPEN_CDROMHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicepostdataHttpPost">
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <wsdl:input message="tns:GET_RISK_SOFTWAREHttpPostIn" />
      <wsdl:output message="tns:GET_RISK_SOFTWAREHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <wsdl:input message="tns:GET_UNJOIN_DOMAINHttpPostIn" />
      <wsdl:output message="tns:GET_UNJOIN_DOMAINHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <wsdl:input message="tns:GET_NOUPDATE_WANNACRYHttpPostIn" />
      <wsdl:output message="tns:GET_NOUPDATE_WANNACRYHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <wsdl:input message="tns:GET_OPEN_445HttpPostIn" />
      <wsdl:output message="tns:GET_OPEN_445HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <wsdl:input message="tns:GET_ACCOUNT_ADMIMHttpPostIn" />
      <wsdl:output message="tns:GET_ACCOUNT_ADMIMHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <wsdl:input message="tns:GET_OPEN_USBHttpPostIn" />
      <wsdl:output message="tns:GET_OPEN_USBHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <wsdl:input message="tns:GET_ANTIVIRUSHttpPostIn" />
      <wsdl:output message="tns:GET_ANTIVIRUSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <wsdl:input message="tns:GET_CONNECTED_INTERNETHttpPostIn" />
      <wsdl:output message="tns:GET_CONNECTED_INTERNETHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <wsdl:input message="tns:GET_OPEN_CDROMHttpPostIn" />
      <wsdl:output message="tns:GET_OPEN_CDROMHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicepostdataSoap" type="tns:ServicepostdataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <soap:operation soapAction="http://tempuri.org/GET_RISK_SOFTWARE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <soap:operation soapAction="http://tempuri.org/GET_UNJOIN_DOMAIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <soap:operation soapAction="http://tempuri.org/GET_NOUPDATE_WANNACRY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <soap:operation soapAction="http://tempuri.org/GET_OPEN_445" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <soap:operation soapAction="http://tempuri.org/GET_ACCOUNT_ADMIM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <soap:operation soapAction="http://tempuri.org/GET_OPEN_USB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <soap:operation soapAction="http://tempuri.org/GET_ANTIVIRUS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <soap:operation soapAction="http://tempuri.org/GET_CONNECTED_INTERNET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <soap:operation soapAction="http://tempuri.org/GET_OPEN_CDROM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicepostdataSoap12" type="tns:ServicepostdataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <soap12:operation soapAction="http://tempuri.org/GET_RISK_SOFTWARE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <soap12:operation soapAction="http://tempuri.org/GET_UNJOIN_DOMAIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <soap12:operation soapAction="http://tempuri.org/GET_NOUPDATE_WANNACRY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <soap12:operation soapAction="http://tempuri.org/GET_OPEN_445" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <soap12:operation soapAction="http://tempuri.org/GET_ACCOUNT_ADMIM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <soap12:operation soapAction="http://tempuri.org/GET_OPEN_USB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <soap12:operation soapAction="http://tempuri.org/GET_ANTIVIRUS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <soap12:operation soapAction="http://tempuri.org/GET_CONNECTED_INTERNET" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <soap12:operation soapAction="http://tempuri.org/GET_OPEN_CDROM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicepostdataHttpGet" type="tns:ServicepostdataHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <http:operation location="/GET_RISK_SOFTWARE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <http:operation location="/GET_UNJOIN_DOMAIN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <http:operation location="/GET_NOUPDATE_WANNACRY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <http:operation location="/GET_OPEN_445" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <http:operation location="/GET_ACCOUNT_ADMIM" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <http:operation location="/GET_OPEN_USB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <http:operation location="/GET_ANTIVIRUS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <http:operation location="/GET_CONNECTED_INTERNET" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <http:operation location="/GET_OPEN_CDROM" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicepostdataHttpPost" type="tns:ServicepostdataHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GET_RISK_SOFTWARE">
      <http:operation location="/GET_RISK_SOFTWARE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_UNJOIN_DOMAIN">
      <http:operation location="/GET_UNJOIN_DOMAIN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_NOUPDATE_WANNACRY">
      <http:operation location="/GET_NOUPDATE_WANNACRY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_445">
      <http:operation location="/GET_OPEN_445" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ACCOUNT_ADMIM">
      <http:operation location="/GET_ACCOUNT_ADMIM" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_USB">
      <http:operation location="/GET_OPEN_USB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ANTIVIRUS">
      <http:operation location="/GET_ANTIVIRUS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_CONNECTED_INTERNET">
      <http:operation location="/GET_CONNECTED_INTERNET" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_OPEN_CDROM">
      <http:operation location="/GET_OPEN_CDROM" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicepostdata">
    <wsdl:port name="ServicepostdataSoap" binding="tns:ServicepostdataSoap">
      <soap:address location="http://10.228.110.45/ISCService/Servicepostdata.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicepostdataSoap12" binding="tns:ServicepostdataSoap12">
      <soap12:address location="http://10.228.110.45/ISCService/Servicepostdata.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicepostdataHttpGet" binding="tns:ServicepostdataHttpGet">
      <http:address location="http://10.228.110.45/ISCService/Servicepostdata.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicepostdataHttpPost" binding="tns:ServicepostdataHttpPost">
      <http:address location="http://10.228.110.45/ISCService/Servicepostdata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>