ShowUI/Service References/ThroughtputService/ThroughtputService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataThroughtputSampling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shift" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataThroughtputSamplingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataThroughtputSamplingResult" type="tns:ArrayOfWipPCModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWipPCModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WipPCModel" nillable="true" type="tns:WipPCModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WipPCModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STATION_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WIPTOTAL" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataThroughtputSamplingSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataThroughtputSampling" />
  </wsdl:message>
  <wsdl:message name="GetDataThroughtputSamplingSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataThroughtputSamplingResponse" />
  </wsdl:message>
  <wsdl:portType name="ThroughtputServiceSoap">
    <wsdl:operation name="GetDataThroughtputSampling">
      <wsdl:input message="tns:GetDataThroughtputSamplingSoapIn" />
      <wsdl:output message="tns:GetDataThroughtputSamplingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ThroughtputServiceSoap" type="tns:ThroughtputServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataThroughtputSampling">
      <soap:operation soapAction="http://tempuri.org/GetDataThroughtputSampling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ThroughtputServiceSoap12" type="tns:ThroughtputServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataThroughtputSampling">
      <soap12:operation soapAction="http://tempuri.org/GetDataThroughtputSampling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThroughtputService">
    <wsdl:port name="ThroughtputServiceSoap" binding="tns:ThroughtputServiceSoap">
      <soap:address location="http://10.224.81.49/sampling/services/ThroughtputService.asmx" />
    </wsdl:port>
    <wsdl:port name="ThroughtputServiceSoap12" binding="tns:ThroughtputServiceSoap12">
      <soap12:address location="http://10.224.81.49/sampling/services/ThroughtputService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>