ShowUI/Web References/GET_ATE_SUM_TESTED_DUT/Servicepostdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GET_WIP_GROUP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial_number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_WIP_GROUPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_WIP_GROUPResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GET_WIP_GROUPSoapIn">
    <wsdl:part name="parameters" element="tns:GET_WIP_GROUP" />
  </wsdl:message>
  <wsdl:message name="GET_WIP_GROUPSoapOut">
    <wsdl:part name="parameters" element="tns:GET_WIP_GROUPResponse" />
  </wsdl:message>
  <wsdl:message name="GET_WIP_GROUPHttpGetIn">
    <wsdl:part name="serial_number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_WIP_GROUPHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GET_WIP_GROUPHttpPostIn">
    <wsdl:part name="serial_number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_WIP_GROUPHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="ServicepostdataSoap">
    <wsdl:operation name="GET_WIP_GROUP">
      <wsdl:input message="tns:GET_WIP_GROUPSoapIn" />
      <wsdl:output message="tns:GET_WIP_GROUPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicepostdataHttpGet">
    <wsdl:operation name="GET_WIP_GROUP">
      <wsdl:input message="tns:GET_WIP_GROUPHttpGetIn" />
      <wsdl:output message="tns:GET_WIP_GROUPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicepostdataHttpPost">
    <wsdl:operation name="GET_WIP_GROUP">
      <wsdl:input message="tns:GET_WIP_GROUPHttpPostIn" />
      <wsdl:output message="tns:GET_WIP_GROUPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicepostdataSoap" type="tns:ServicepostdataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_WIP_GROUP">
      <soap:operation soapAction="http://tempuri.org/GET_WIP_GROUP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicepostdataSoap12" type="tns:ServicepostdataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_WIP_GROUP">
      <soap12:operation soapAction="http://tempuri.org/GET_WIP_GROUP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicepostdataHttpGet" type="tns:ServicepostdataHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GET_WIP_GROUP">
      <http:operation location="/GET_WIP_GROUP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicepostdataHttpPost" type="tns:ServicepostdataHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GET_WIP_GROUP">
      <http:operation location="/GET_WIP_GROUP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicepostdata">
    <wsdl:port name="ServicepostdataSoap" binding="tns:ServicepostdataSoap">
      <soap:address location="http://10.224.81.154/service/Servicepostdata.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicepostdataSoap12" binding="tns:ServicepostdataSoap12">
      <soap12:address location="http://10.224.81.154/service/Servicepostdata.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicepostdataHttpGet" binding="tns:ServicepostdataHttpGet">
      <http:address location="http://10.224.81.154/service/Servicepostdata.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicepostdataHttpPost" binding="tns:ServicepostdataHttpPost">
      <http:address location="http://10.224.81.154/service/Servicepostdata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>